.notion-to_do-block [placeholder="To-do"],
.notion-bulleted_list-block [placeholder="List"],
.notion-numbered_list-block [placeholder="List"],
.notion-toggle-block [placeholder="Toggle"] {
  text-align: start !important;
}

.notion-callout-block div {
  margin: 0 !important;
}

.notion-callout-block div[placeholder="Type something…"] {
  margin-inline-start: 8px !important;
}

.whenContentEditable
  > .pseudoSelection.rtl:first-of-type
  > div
  > div:last-child
  > div {
  margin-right: calc((96px + env(safe-area-inset-right)) * 2.1) !important;
}

.pseudoSelection:not(.whenContentEditable > *).rtl {
  direction: rtl;
  padding-right: 96px;
}

.pseudoSelection:not(.whenContentEditable > *).rtl .notion-page-controls {
  direction: ltr;
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: -1px;
}

.pseudoSelection.rtl:not(.whenContentEditable > *)
  .notion-page-controls
  [role="button"]:first-child {
  order: 3;
}
.pseudoSelection.rtl:not(.whenContentEditable > *)
  .notion-page-controls
  [role="button"]:nth-child(2) {
  order: 2;
}
