.notion-to_do-block [placeholder="To-do"],
.notion-bulleted_list-block [placeholder="List"],
.notion-numbered_list-block [placeholder="List"],
.notion-toggle-block [placeholder="Toggle"] {
  text-align: start !important;
}

.notion-callout-block div {
  margin: 0 !important;
}

.notion-callout-block div[placeholder="Type something…"] {
  margin-inline-start: 8px !important;
}
